<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 <h1>{{name}}</h1>
 <p>Exercitation mollit sunt velit ad excepteur aute mollit ea excepteur. Laborum eiusmod ea et aliquip laborum esse tempor sit. Qui in magna id irure id commodo consequat aliquip nulla mollit laborum labore. Pariatur qui culpa commodo occaecat eu duis ut ullamco consectetur aliquip voluptate.</p>   
</body>
</html>